<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoCatRun"
        tools:targetApi="31">

        <!-- 카카오 SDK를 위한 메타데이터 추가 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ee4a19a75c1dad14d8d226e4285b1cba" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.RoCatRun" />
<!--           구글 서비스 메타데이터     -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_app_id" /> <!-- google-services.json에서 자동으로 추가됨 -->

<!--         Firebase 인증 관련 서비스 필요 시 -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RoCatRun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.social.KaKaoRedirectHandler"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="i12e205.p.ssafy.io"
                    android:port="8080"
                    android:pathPrefix="/api/auth/callback/kakao"
                    />
            </intent-filter>
        </activity>

    </application>

</manifest>